<h1><p align="center"> <%= h @message %> to Monster & Leinster's</h1>

<h1><p align="center"> Home Page</h1>

<p align="center"><%= link_to image_tag("monster.jpg"), 
				:controller => "other", :action => "name" %> </p>
				
<h5> <p align="center"> [click logo to enter] </p></h5> 