<html>
<head><title><%= @message %> </title>
	<%= stylesheet_link_tag 'application' %>
	</head>
<body>
<p align="center">  <font size="7">The Monster & Leinster Bank </font></p>
<p align="center"> <%= image_tag("monster.jpg") %> </p>

<%= yield %>

<p> <font size="1"> Monster & Leinster Inc. accept no responsibility if 
you fall into arrears on your loan and are not responsible for the thugs that will call around 
to your house with baseball bats to help you with your repayment schedule. </font> </p>
</body>
</html>